@import "tailwindcss";
@import "react-datepicker/dist/react-datepicker.css";

@media print {
  .no-print {
    display: none !important;
  }
  body {
    background: white;
  }
  .print-container {
    box-shadow: none !important;
    border: none !important;
  }
}
